absl-py==2.1.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.8.0
astroid==3.3.9
attrs==24.2.0
babel==2.17.0
bitarray==3.4.0
bitstring==4.3.1
certifi==2025.1.31
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.2.1
cryptography==44.0.0
cycler==0.12.1
dill==0.3.9
diskcache==5.6.3
distlib==0.3.8
docx==0.2.4
ecdsa==0.19.1
esptool==4.8.1
et_xmlfile==2.0.0
filelock==3.16.0
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2025.2.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
iniconfig==2.0.0
intelhex==2.3.0
isort==6.0.1
jax==0.4.31
jaxlib==0.4.31
Jinja2==3.1.5
kiwisolver==1.4.5
llama_cpp_python==0.3.8
lxml==5.3.0
MarkupSafe==3.0.2
matplotlib==3.9.1.post1
mccabe==0.7.0
mediapipe==0.10.14
ml-dtypes==0.4.0
mpmath==1.3.0
mysql-connector-python==9.3.0
networkx==3.4.2
numpy==2.0.1
ollama==0.4.7
opencv-contrib-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==24.1
pandas==2.2.3
pdf2image==1.17.0
pdfminer.six==20221105
pdfplumber==0.11.5
pefile==2023.2.7
pillow==10.3.0
platformdirs==4.3.2
pluggy==1.5.0
protobuf==4.25.4
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pygame==2.6.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
pylint==3.3.6
PyMuPDF==1.23.22
PyMuPDFb==1.23.22
pyparsing==3.1.2
pypdf==5.2.0
pypdfium2==4.30.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyserial==3.5
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2024.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
reedsolo==1.7.0
regex==2024.11.6
reportlab==4.0.8
requests==2.31.0
scipy==1.14.0
six==1.16.0
sniffio==1.3.1
sounddevice==0.4.7
sympy==1.13.1
tk==0.1.0
tkcalendar==1.6.1
tomlkit==0.13.2
torch==2.6.0
torchvision==0.21.0
ttkbootstrap==1.12.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.4.0
virtualenv==20.26.4
